body{
    position: absolute;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: oldlace;
}

header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: darkseagreen;
    color: blanchedalmond;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: oldlace;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15px;
    width: 80vw;
    min-height: 100vh;
}

aside{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}

#inputSection {
    position: relative;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    height: 60vh;
}

#inputSection button{

    background-color:linen;
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 0.8rem;
    padding: 5px;
    color: darkslategray;
    text-align: center;

}

#inputSection button:hover{

    background-color: darkseagreen;
}

.fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: moccasin;
    opacity: 8;
    border: 0px;
    border-radius: 15px;
    padding: 10px;
}

#dagbokHeadline {
    width: 90%;
    height: 10%;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color:linen;
    opacity: 9;
    color: darkseagreen;
    border-radius: 10px;
    border: 0px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

#dagbokText {
    width: 90%;
    height: 70%;
    font-size: 1rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: darkseagreen;
    background-color: linen;
    opacity: 9;
    border-radius: 10px;
    border: 0px;
    margin: 5px;
    padding: 10px;
    letter-spacing: 1px;
}

.entryContainer {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color:moccasin;
    opacity: 8;
    border: 0px;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    height: fit-content;
}
.entryContainer:hover {
    background-color:rgb(255, 222, 164);
}

#myEntries {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myEntries button{

    background-color:linen;
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 0.8rem;
    padding: 5px;
    color: darkslategray;
    text-align: center;

}

#myEntries button:hover{

    background-color: darkseagreen;
}

.headlineStyle{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: blanchedalmond;
    opacity: 9;
    color: darkseagreen;
    border-radius: 10px;
    border: 0px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    
}

.textStyle{
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 20vh;
    font-size: 1rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: darkseagreen;
    opacity: 9;
    border-radius: 10px;
    border: 0px;
    margin: 5px;
    padding: 10px;
    letter-spacing: 1px;
    overflow: hidden;
    height: fit-content;
}

.dateStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 0.6rem;
    padding: 15px;
    letter-spacing: 3px;
    color: darkseagreen;
}

#previewContainer{

    position: absolute;
    z-index: 98;

    display: flex;
    justify-content: center;

    width: 80vw;
    height: 80vh;
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: center;

}

#previewSection {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:moccasin;
    opacity: 8;
    border: 0px;
    border-radius: 15px;
    padding: 10px;
    margin: 0%;
}

#previewSection input{

    width: 90%;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color:linen;
    opacity: 9;
    color: darkseagreen;
    border-radius: 10px;
    border: 0px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;

}

#previewSection textarea{
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    min-height: 80%;
    font-size: 1rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: darkseagreen;
    background-color:linen;
    opacity: 9;
    border-radius: 10px;
    border: 0px;
    margin: 5px;
    padding: 10px;
    letter-spacing: 1px;
}

#previewSection button{
    background-color:linen;
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 1rem;
    margin: 5px;
    padding: 5px;
    color: darkslategray;
    text-align: center;
}
#previewSection button:hover{
    background-color: darkseagreen;
}

    


    