body{
    position: absolute;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f5fafc;
}

header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background-color: #f5fafc;
    color: #112c46;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    padding: 5px;
    text-align: center;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 30px;
    width: 80vw;
    min-height: 100vh;
}

aside{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}

#inputSection {
    position: relative;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
}

#inputSection button{

    background-color: #f5fafc;
    border: 1px solid #112c46;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 0.8rem;
    padding: 5px;
    color: #112c46;
    text-align: center;
    margin: 5px;
    transition: all;
    transition-duration: 0.3s;
}

#inputSection button:hover{
    transform: scale(1.1);
}

.fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: #112c46;
    opacity: 8;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
}

.fieldset:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#dagbokHeadline {
    width: 90%;
    height: 10%;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: 200;
    opacity: 9;
    color: #112c46;
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    transition: all;
    transition-duration: 0.3s;
    background-color: transparent;
}

#dagbokText {
    width: 90%;
    height: 70%;
    font-size: 1rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: #112c46;
    opacity: 9;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    letter-spacing: 3px;
    word-spacing: 5px;
    transition: all;
    transition-duration: 0.3s;
    border: none;
    background-color: white;
}


.editBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: relative;
    padding: 2px;
    transition: all;
    transition-duration: 0.3s;

}
.editBtn:hover{
   transform: scale(1.1);
}

.entryContainer {
   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: white;
    opacity: 8;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.entryContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


#myEntries {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myEntries button{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 49%;
    background-color:#112c46;
    border: 0;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    padding: 5px;
    color: #f5fafc;
    text-align: center;
    transition: all;
    transition-duration: 0.3s;

}

#myEntries button:hover{
    background-color: rgb(253, 68, 47);
    color: #f5fafc;
    transform: scale(1.1);
}

.headlineStyle{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 9;
    color: #112c46;
    margin: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    overflow: hidden;
    
}

.textStyle{
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: #112c46;
    opacity: 9;
    margin: 5px;
    padding: 30px;
    letter-spacing: 1px;
    word-spacing: 2px;
    overflow: hidden;
    height: fit-content;
    width: fit-content;
}

.dateStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 0.6rem;
    padding: 15px;
    letter-spacing: 3px;
    color: #112c46;
}

#previewContainer{

    position: absolute;
    position: fixed;
    top: 0;
    z-index: 98;
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 90vh;
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: center;

}

#previewSection {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#f5fafc;
    opacity: 8;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    margin: 0%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#previewSection input{

    width: 90%;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: 200;
    background-color:white;
    opacity: 9;
    color: #112c46;
    border-radius: 5px;
    border: 0px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    overflow: hidden;
    transition: all;
    transition-duration: 0.3s;

}

#previewSection textarea{
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    min-height: 80%;
    font-size: 1rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: #112c46;
    background-color:white;
    opacity: 9;
    border-radius: 5px;
    border: 0px;
    margin: 5px;
    padding: 10px;
    letter-spacing: 1px;
    overflow: hidden;
    transition: all;
    transition-duration: 0.3s;
}

#previewSection button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#112c46;
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 0.8rem;
    margin: 5px;
    padding: 5px;
    color: #f5fafc;
    text-align: center;
    transition: all;
    transition-duration: 0.3s;
}
#previewSection button:hover{
    transform: scale(1.1);
}

    


    